.lockup {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.img {
  display: block;
  object-fit: contain;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-drag: none;
}
