.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.primary {
  overflow-y: auto;
  overflow-x: hidden;
}

.both {
  overflow: auto;
}

.autoHide::-webkit-scrollbar-thumb {
  background: transparent;
}

.autoHide:hover::-webkit-scrollbar-thumb {
  background: var(--color-border);
}
